
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie lt-ie9 lt-ie8 lt-ie7 fluid top-full sidebar sidebar-full"> <![endif]-->
<!--[if IE 7]>    <html class="ie lt-ie9 lt-ie8 fluid top-full sticky-top sidebar sidebar-full"> <![endif]-->
<!--[if IE 8]>    <html class="ie lt-ie9 fluid top-full sticky-top sidebar sidebar-full"> <![endif]-->
<!--[if gt IE 8]> <html class="ie gt-ie8 fluid top-full sticky-top sidebar sidebar-full"> <![endif]-->


<html class="fluid top-full sticky-top sidebar sidebar-full sticky-sidebar js no-touch csstransforms3d csstransitions">
  <head>
    <title>Datalyzer</title>

    <!-- Meta -->
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />

    <link rel="icon"  type="image/png" href="./resources/theme/images/favicon.ico">


    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <!-- Bootstrap -->
    <script src="/resources/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link href="/resources/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" /> 
    <link href="/resources/bootstrap/css/responsive.css" rel="stylesheet" type="text/css" />

    <!-- Glyphicons Font Icons -->
    <link href="/resources/theme/fonts/glyphicons/css/glyphicons.css" rel="stylesheet" />

    <link rel="stylesheet" href="/resources/theme/fonts/font-awesome/css/font-awesome.min.css">
    <!--[if IE 7]><link rel="stylesheet" href="./resources/theme/fonts/font-awesome/css/font-awesome-ie7.min.css"><![endif]-->

    <!-- Uniform Pretty Checkboxes -->
    <!-- <link href="./resources/theme/scripts/plugins/forms/pixelmatrix-uniform/css/uniform.default.css" rel="stylesheet" /> -->

    <!-- Modernizr  -->
    <!-- <script src="./resources/theme/scripts/plugins/system/modernizr.js" > </script> -->
    
    <!-- Gritter -->
    <link href="/resources/theme/scripts/plugins/notifications/Gritter/css/jquery.gritter.css" rel="stylesheet" />

    <!-- Select2 Plugin -->
    <link href="/resources/theme/scripts/selectize/css/selectize.bootstrap3.css" rel="stylesheet" />

    <link href="/resources/theme/scripts/rating/css/rating.min.css" rel="stylesheet" />

    <link href="/resources/theme/scripts/plugins/other/google-code-prettify/prettify.css" rel="stylesheet" />

    <link href="/resources/theme/scripts/highlight/styles/monokai-sublime.css" rel="stylesheet" />
    <link href="/resources/theme/scripts/highlight/styles/github.css" rel="stylesheet" />


    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
<script src="./resources/theme/scripts/plugins/system/html5shiv.js"></script>
<![endif]-->

    <!-- Main Theme Stylesheet :: CSS -->
    <link href="/resources/theme/css/style-flat.css" rel="stylesheet" type="text/css" /> 
    <!-- <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.css"> -->
    <!-- <link href="./resources/theme/skins/css/android-green.css" rel="stylesheet" type="text/css" /> --%>
    <!--  <link href="./resources/theme/skins/css/bascio_template.css" rel="stylesheet" type="text/css" />-->

    <script src="/resources/theme/scripts/plugins/system/less.min.js"></script>
    <!-- Code Beautify -->
    <script src="/resources/theme/scripts/plugins/other/js-beautify/beautify.js"></script>
    <script src="/resources/theme/scripts/plugins/other/js-beautify/beautify-html.js"></script>
    <!-- PrettyPhoto -->
    <!-- <script src="./resources/theme/scripts/plugins/gallery/prettyphoto/js/jquery.prettyPhoto.js"></script>-->

    <!-- Global -->
    <script>
      var basePath = '',
          commonPath = './resources/';
    </script>
    

    <!-- SlimScroll Plugin -->
    <script src="/resources/theme/scripts/plugins/other/jquery-slimScroll/jquery.slimscroll.min.js"></script>

    <!-- Holder Plugin -->
    <script src="/resources/theme/scripts/plugins/other/holder/holder.js"></script>
    <script>
      Holder.add_theme("dark", {background:"#000", foreground:"#aaa", size:9});
      Holder.add_theme("white", {background:"#fff", foreground:"#c9c9c9", size:9});
      <!-- Colors -->
      var primaryColor = '#4a8bc2',
          dangerColor = '#b55151',
          successColor = '#609450',
          warningColor = '#ab7a4b',
          inverseColor = '#45484d';
      var themerPrimaryColor = primaryColor;
    </script>

    <!-- Uniform Forms Plugin -->
    <script src="/resources/theme/scripts/plugins/forms/pixelmatrix-uniform/jquery.uniform.min.js"></script>

    <script src="/resources/theme/scripts/plugins/tables/DataTables/media/js/jquery.dataTables.min.js"></script>
    <script src="/resources/theme/scripts/plugins/tables/DataTables/extras/TableTools/media/js/TableTools.min.js"></script>
    <script src="/resources/theme/scripts/plugins/tables/DataTables/extras/ColVis/media/js/ColVis.min.js"></script>
    <script src="/resources/theme/scripts/plugins/tables/DataTables/media/js/DT_bootstrap.js"></script>


     <script src="/resources/theme/scripts/plugins/other/google-code-prettify/prettify.js"></script> 

    <!-- <script src="./resources/theme/scripts/plugins/notifications/Gritter/js/jquery.gritter.min.js"></script> -->


    <!-- Common Demo Script -->
    <script src="/resources/theme/scripts/demo/common.js"></script>

    <!-- Tables Demo Script -->
    <!-- <script src="./resources/theme/scripts/demo/tables.js"></script> -->
    <!-- <script src="./resources/bootstrap/extend/bootbox.js"></script> -->
    <!-- <script src="./resources/theme/scripts/Chart.js"></script> -->

    <!-- Ba-Resize Plugin -->
    <!-- <script src="./resources/theme/scripts/plugins/other/jquery.ba-resize.js"></script> -->
    <!-- Select2 Plugin -->
    <script src="/resources/theme/scripts/selectize/js/standalone/selectize.js"></script>

    <!-- MARIO NUEVO -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script> 

  </head>
  <body class="">

    <!-- Main Container Fluid -->
    <div class="container-fluid fluid menu-left">

      <!-- Sidebar menu & content wrapper -->
      <div id="wrapper">

        <!-- Sidebar Menu -->
        <div id="menu" class="hidden-print">		

          <!-- Scrollable menu wrapper with Maximum height -->
          <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 1025px;"><div class="slim-scroll" data-scroll-height="800px" style="overflow: hidden; width: auto; height: 1025px;">


            <!-- Regular Size Menu -->
            <ul style="padding-left: 0px;">

              <!-- Full Sidebar Style -->
              <li id="menu-dashboard"><a href="/dashboard" class="glyphicons dashboard"><i></i> Dashboard</a></li>
              
              <li id="menu-artifacts" class="dropdown dd-1">
                <a href="" data-toggle="dropdown" class="glyphicons inbox"><i></i> MY PROJECTS <span class="icon-chevron-right"></span></a>
                <ul class="dropdown-menu pull-left">											
                  <li><a href="/private/workspace/list"  class="glyphicons list"><i></i>LIST</a></li>
                  <li><a href="/private/workspace/create" class="glyphicons circle_plus"><i></i>CREATE NEW</a></li>
                </ul>
              </li>
              <!-- <li id="menu-shared" class="dropdown dd-1">
                <a href="" data-toggle="dropdown" class="glyphicons share_alt"><i></i>Shared <span class="icon-chevron-right"></span></a>
                <ul class="dropdown-menu pull-left">											
                  <li><a class="glyphicons file" href="./private/shared_projects/"><i></i>PROJECTS</a></li>
                  <li><a class="glyphicons file" href="./private/shared_artifacts/"><i></i>ARTIFACTS</a></li>						
                </ul>
              </li>
              <li><a class="glyphicons dashboard" href="./private/ATLTransformation/transformation_list/"><i></i>WORKSPACES</a></li> 
              <li id="menu-workspaces"class="dropdown dd-1">
                <a href="" data-toggle="dropdown" class="glyphicons inbox"><i></i>WORKSPACES <span class="icon-chevron-right"></span></a>
                <ul class="dropdown-menu pull-left">											
                  <li><a href="./private/workspace/list"  class="glyphicons list"><i></i>LIST</a></li>
                  <li><a href="./private/workspace/create" class="glyphicons circle_plus"><i></i>CREATE NEW</a></li>
                </ul>
              </li> -->
              <!-- // Full Sidebar Style END -->

              <!-- // Not blank page END -->

            </ul>
            <div class="clearfix"></div>
            <!-- // Regular Size Menu END -->



            </div><div class="slimScrollBar ui-draggable" style="width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 1025px; background: rgb(0, 0, 0);"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div></div>
          <!-- // Scrollable Menu wrapper with Maximum Height END -->

        </div>
        <!-- // Sidebar Menu END -->

        <!-- Content -->
        <div id="content" style="height:100%;">

          <!-- Top navbar -->
          <div class="navbar main">

            <!-- Menu Toggle Button -->
            <button id="button-menu-hide" type="button" class="btn btn-navbar pull-left">
              <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
            </button>
            <!-- // Menu Toggle Button END -->


            <!-- Not Blank page -->

            <!-- Full Top Style -->
            <ul class="topnav pull-left">

              <li class="dropdown dd-1">
                <a href="#upload-artifact" data-toggle="modal" class="glyphicons cloud-upload"><i></i> ARTIFACT UPLOAD <!--  <span class="caret"></span>--></a>
              </li>

              <li><a href="$./public/search" class="glyphicons search"><i></i> Search</a></li>	 

              <li class="glyphs hidden-tablet hidden-phone">
                <ul>
                  <li><a href="./public/dashboard" class="glyphicons folder_open" data-toggle="tooltip" data-title="Browse the repository" data-placement="bottom" data-original-title="" title=""><i></i></a></li>
                  <li><a href="./public/search" class="glyphicons search" data-toggle="tooltip" data-title="Search Artifacts" data-placement="bottom" data-original-title="" title=""><i></i></a></li>
                  <li><a href="./private/dashboard" class="glyphicons dashboard" data-toggle="tooltip" data-title="Dashboard" data-placement="bottom" data-original-title="" title=""><i></i></a></li>
                </ul>
              </li>
              <li class="search open">
                <form action="./public/search" method="get" class="dropdown dd-1">
                  <input type="text" value="" placeholder="Search Artifacts.." name="search_string" />
                  <button type="button" class="glyphicons search"><i></i></button>
                </form>
              </li>
            </ul>
            <!-- // Full Top Style END -->


            <!-- // Not Blank Page END -->


            <!-- Top Menu Right -->
            <ul class="topnav pull-right">

              <!-- Themer -->
              <li class="">
                <a href="./"><span class="hidden-tablet hidden-phone">Home</span></a>
              </li>
              <li class="account dropdown dd-1">

                <a data-toggle="dropdown" href="#" class="logout">
                  <span class="hidden-tablet hidden-phone"> {{user.local.name}} </span>
                </a>
                <ul class="dropdown-menu pull-right">				

                  <li class="profile">
                    <span>

                      <img id="imagePreview" src="/resources/theme/images/blankuser.jpg"alt="Profile Photo"/>
                      <div class="details">
                        <a href="#">{{user.local.name}} {{user.local.lastname}}</a>
                        <br>
                        <a href="#">{{user.local.email}}</a>
                        <!--<security:authentication property="principal.user.id" var="userId"/>-->
                        <input type="hidden" value="{{user.local.id}}" id="loggedUserId" > 
                      </div>
                    </span>
                    <span class="clearfix"></span>

                  </li>
                  <li><a href="/dashboard" class="menu-right-dropdown pull-right">Dashboard</a></li>		
                  <li><a href="/profile" class="menu-right-dropdown pull-right">Account</a></li>		
                  <!-- <li><a href="./dashboard" class="menu-right-dropdown pull-right">Home</a></li> -->
                  <hr>
                  <li>
                    <a id="logout" class="btn btn-default pull-right" href="./j_spring_security_logout">Logout</a>
                  </li>
                </ul>
              </li>
              <!-- // Profile / Logout menu END -->

            </ul>
            <!-- // Top Menu Right END -->
            <div class="clearfix"></div>

          </div>



          {{{body}}}



          <!-- Body END -->



        </div>
        <!-- // Content END -->

      </div>
      <div class="clearfix"></div>
      <!-- // Sidebar menu & content wrapper END -->


      <!-- // Footer START -->
      <div id="footer" class="hidden-print">
        <!--  Copyright Line -->
        <div class="copy">
          Datalyzer @ 2017
        </div>
      </div>
      <!-- // Footer END -->

    </div>







    </html>